body{
	margin: 0;
	background: url('../img/elitefon.ru-21758.jpg') no-repeat center center;
	background-size: cover;
	height: 100vh;
}
h1{
	font-size: 50px;
	margin-top: 20%;
	text-align: center;
	color: #fff;
	font-family: sans-serif;
	text-shadow: 1px 3px 3px rgba(255, 255, 255, .4)
}