@font-face {
	font-family: 'Arvo';
	src: url(../fonts/arvo/ArvoRegular.woff);
	src: url(../fonts/arvo/ArvoRegular.woff) format('woff'),
		 url(../fonts/arvo/arvo-regular.woff2) format('woff2'),
		 url(../fonts/arvo/ArvoRegular.eot) format('eot'),
		 url(../fonts/arvo/arvo-regular.ttf) format('ttf'),
		 url(../fonts/arvo/arvo-regular.svg) format('svg');
}


.text-center{
	text-align:center;	
}
.header-text{
     font-size: 29.71px;
     font-family: 'Arvo';
     color: #3b3e6a;
     margin-bottom: 70px;
}
h2{
	font-family: 'Arvo';
	color: #3b3e6a;
	font-size: 22px; 
	line-height: 30px;
	margin-bottom: 15px;
 }
p{
	margin-top: 5px;
	font-family: 'Noto Sans', sans-serif;
	color: #686b8b;
	font-size: 19px; 
	line-height: 30px; 
}
.img-place{
	height: 150px;
	margin-top: 70px;
}